<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sabah Banking Employees' Union </title>
    <link rel="stylesheet" href="../../theme/sbeu/css/app.css">
    <link rel="stylesheet" href="../../theme/sbeu/css/style.css">
    <script src="../../theme/sbeu/bower_components/modernizr/modernizr.js"></script>
  <meta class="foundation-data-attribute-namespace"><meta class="foundation-mq-xxlarge"><meta class="foundation-mq-xlarge"><meta class="foundation-mq-large"><meta class="foundation-mq-medium"><meta class="foundation-mq-small"><style></style><meta class="foundation-mq-topbar"></head>
  <body>

    <div class="row header">
      <div class="large-2 columns">
        <img src="../../theme/sbeu/img/sbeulogo.png" width="120">
      </div>
      <div class="large-10 columns">
          <div class="logo-title">Sabah Banking Employees' Union </div>
          <div class="since">Since 1966</div>
       </div>
    </div>
    <div class="row feedback">
		<span class="date">
			<script src="../../theme/sbeu/bower_components/moment/min/moment.min.js"></script>
			<script>
				var  m = moment().format('Do MMMM YYYY, h:mm:ss a');	
				document.write(m);
			</script>	
		</span>
        <img src="../../theme/sbeu/img/contact_email.png" width="20" /> <a href="../../form.html"> Feedback </a>
	| <a href="https://mail.zoho.com/portal/sbeu"> Webmail </a>
    </div>
    <div class="row">
      <nav class="top-bar" data-topbar=""> 
          <ul class="title-area"> 
              <li class="name"> 
                  <h1><a href="../../home.html">Home</a></h1> </li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->     <li class="toggle-topbar menu-icon"><a href="8.html#"><span>Menu</span></a></li> 
          </ul> 
          
           
      <section class="top-bar-section"> <!-- Right Nav Section --> 
              <ul class="right"> 
                   <li><a href="../../photos.html">Photos </a></li> 
                   <li><a href="../../contact.html">Contact Us</a></li>
                  <!--
                  <li class="has-dropdown not-click"> <a href="#"> Links </a>
                     <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                        <li><a href="http://www.labourstart.org"> Labourstart </a></li>
                        <li><a href="http://www.mtuc.org.my"> MTUC</a> </li>
                        <li><a href="http://www.ilo.org"> ILO International Labour Union </a> </li>
                        <li><a href="http://www.uniglobalunion.org"> UNI Global Union </a> </li>
                        <li><a href="http://www.firstunion.co.nz"> FINSEC </a> </li>   
                        <li><a href="http://www.ituc-csi.org"> ITUC-CSI IGB </a> </li>                                
                      </ul>
                  </li> -->
              </ul> <!-- Left Nav Section --> 
              <ul class="left"> 
                  <li class="has-dropdown not-click"><a href="8.html#">About Us</a>
                      <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                          <li><a href="../../history.html"> History </a> </li>
                          <li><a href="../../committee.html">Executive Council </a></li>
                          <li><a href="../../branches.html"> Branches </a></li>
                          <li><a href="../../structure.html"> Union Structure</a></li> 
                          <li><a href="../../rules.html"> Union Rules</a></li>                               
                          <li><a href="../../affiliation.html"> International and National Affiliation </a></li>
                          <li><a href="../../song.html">Union Song</a></li>                          
                          <li><a href="../../past.html"> Past Leardership </a></li>
                      </ul>
                  </li> 
                  <li><a href="../../theme/sbeu/files/SCBA-SBEU_CA2012-2014.pdf"> Collective Agreement </a></li>                    

                  <li class="has-dropdown not-click"><a href="../../archives.html">Archieves </a>
                      <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                        <li><a href="../../theme/sbeu/files/applicationform.pdf">Membership Form</a></li> 
                        <li><a href="../../theme/sbeu/files/LabourLawCap67.pdf">Sabah Labour Ordinance</a></li>     
                        <li><a href="../../theme/sbeu/files/employment_act_1955.pdf">Employment Act </a></li>     
                        <li><a href="../../theme/sbeu/files/IRA1967.pdf">Industrial Relation Act </a></li>    
                        <li><a href="../../theme/sbeu/files/minimum_wage_order_2012.pdf">Minimum Wage Act </a></li>                               
                      </ul>
                  </li>
                  <li><a href="../../theme/sbeu/files/etiqa.pdf"> Value Added Services </a></li>
                  <li class="has-dropdown"><a href="8.html#"> Industrial Relation</a>
                      <ul class="dropdown">
                            <li><a href="../../mtuc.html"> MTUC Sabah </a></li>
                            <li><a href="../../socso.html"> SOCSO </a></li>
                      </ul>
                  </li>

              </ul> 
          </section></nav>
    </div>          
    <div class="row content"> <div class="photo-view"><img src="../../data/common/ZEvWc6WhYoeq.jpg" size="600" /></div>
				<div class="photo-info"> </div> </div>
    <div class="row footer">
        <div class="large-3 columns">
            <ul> <h5> About Us </h5>
                          <li><a href="../../history.html"> History </a> </li>
                          <li><a href="../../committee.html">Executive Council </a></li>
                          <li><a href="../../branches.html"> Branches </a></li>
                          <li><a href="../../structure.html"> Union Structure</a></li> 
                          <li><a href="../../rules.html"> Union Rules</a></li>                               
                          <li><a href="../../affiliation.html"> International and National Affiliation </a></li>
                          <li><a href="../../song.html">Union Song</a></li>                          
                          <li><a href="../../past.html"> Past Leardership </a></li>                 
            </ul>
        </div>
        <div class="large-3 columns">
            <ul> <h5> Archives </h5>
                <li><a href="../../theme/sbeu/files/SCBA-SBEU_CA2012-2014.pdf"> Collective Agreement </a></li>
                <li><a href="../../theme/sbeu/files/applicationform.pdf"> Membership Form </a></li>
            </ul>
        </div>
        <div class="large-3 columns">
            <ul> <h5> More </h5>
                <li><a href="../../news.html"> News &amp; Articles </a></li>
                <li><a href="../../gallery.html"> Photos </a></li>
                <li><a href="../../contact.html"> Contact Us </a></li>
                <li><a href="../../form.html"> Feedback </a></li>
                <li><a href="https://mail.zoho.com/portal/sbeu"> Webmail </a></li>
            </ul>
        </div>
        <div class="large-3 columns">
                <ul> <h5> Links </h5>
                        <li><a href="http://www.labourstart.org"> Labourstart </a></li>
                        <li><a href="http://www.mtuc.org.my"> MTUC</a> </li>
                        <li><a href="http://www.ilo.org"> ILO International Labour Union </a> </li>
                        <li><a href="http://www.uniglobalunion.org"> UNI Global Union </a> </li>
                        <li><a href="http://www.firstunion.co.nz"> FINSEC </a> </li>   
                        <li><a href="http://www.ituc-csi.org"> ITUC-CSI IGB </a> </li>                                
                </ul>
        </div>
    </div>
    <div class="row bottom">
    <div class="large-3 columns text-left">
        <h5> Address</h5>
        Block A, Lot 1, Lorong Ikan Juara 1,<br/> 
        880100, Sadong Jaya, Kota Kinabalu <br/><br/>
    </div>
    <div class="large-3 columns">
        <h5> Contact </h5>    
        Tel: +6088-215830/213830 <br/>
        Fax: +6088-260860 <br/>
    </div>
    <div class="large-6 columns">
        <br/><br/><br/><br/>
		<span class="counter"> 113042 visitors </span>
        &copy; 2014  Sabah Banking Employees' Union  
    </div>
    </div>
    
    <script src="../../theme/sbeu/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../theme/sbeu/bower_components/foundation/js/foundation.min.js"></script>
    <script src="../../theme/sbeu/js/app.js"></script>
</body>
<?